* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: black;
  font-family: Libre Baskerville, serif;
  color: white;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 5rem 0;
}
img {
  width: 50%;
  border: 5px solid white;
  margin: 2rem 0;
}
h1, p {
  margin: 2rem 0;
}